body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2px;
    padding-bottom: 2px;
    border-color: #5f9341;
    font-size: 200%;
    border-width: 1.5px;
    width: 100%;
     box-sizing: border-box; 
}

button{
    font-size: 130%;
    padding: 8px 20px;
    background-color: #5f9341;
    color: aliceblue;
    border: none;
    font-weight: bold;
    margin-top: 0.5%;
    /*width: 10%;*/
    text-align: center;
}

#ul-el{
    margin-top: 1%;
    list-style: none;
    padding-left: 0;
}
#li-el{
    margin-top: 0.5%;
}

#a-el{
    color: #5f9341;
}

